# This file contains pin mappings for the stock 2020 Creality Ender 3
# V2. To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.
[include filament_runout_detection.cfg]

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 0
position_max: 235
homing_speed: 50

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: 0
position_max: 235
homing_speed: 50

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
position_max: 220
position_min: -2
endstop_pin: probe:z_virtual_endstop

[bltouch]
sensor_pin: ^PB1
control_pin: PB0
x_offset: -46.000
y_offset: -9.000
z_offset: 2.050
speed: 5
samples: 2
sample_retract_dist: 8.0

[safe_z_home]
#home_xy_position: 117.5, 117.5
home_xy_position: 159.5, 113.0
z_hop: 10
z_hop_speed: 10

[extruder]
step_pin: PB4
dir_pin: !PB3
enable_pin: !PC3
microsteps: 16
min_extrude_temp: 180
max_extrude_only_distance: 180.0
rotation_distance: 54.000 # new HGX drive
gear_ratio: 9.54647:1
nozzle_diameter: 0.4
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
control: pid

# tuned for stock hardware with 200 degree Celsius target
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982

# Temperature fluctuation, tuned for dragonfly hardware with 200 degree Celsius target
pid_kp = 17.999
pid_ki = 0.702
pid_kd = 115.419

min_temp: 0
max_temp: 250

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
# tuned for stock hardware with 50 degree Celsius target
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 3000
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[bed_mesh]
speed: 120
horizontal_move_z: 5
# mesh_min: X_min, Y_min
mesh_min: 15, 15
# mesh_max: X_max, Y_max
mesh_max: 185, 185
# Bed Mesh Algorithm Options:
#
# 1. Lagrange (default) - Uses a polynomial interpolation. Efficient but limited to 6x6 probe points max.
# 2. Bicubic - More complex interpolation. Can handle up to 15x15 probe points.
# 3. Bilinear - Simple linear interpolation. Unlimited probe points.
#
# Factors to consider:
# - Lagrange is fastest but 6x6 limit may not capture enough detail.
# - Bicubic is more accurate but slower. 
# - Bilinear is simplest but may not model complex bed shapes as well.
#
# Choose algorithm based on your bed shape complexity and how many probe points you need.
# Start with Lagrange if 6x6 is enough, otherwise try Bicubic. Bilinear is last resort.
algorithm: Lagrange
probe_count: 5,6
adaptive_margin: 5

[bed_screws]
screw1: 30, 23
screw2: 200, 23
screw3: 200, 193
screw4: 30, 193

# Adjusting bed leveling screws using the bed probe¶
# This is another way to calibrate the bed level using the bed probe. To use it you must have a Z probe (BL Touch, Inductive sensor, etc).
#
# SCREWS_TILT_CALCULATE is an command to use in console
# 
# To enable this feature, one would determine the nozzle coordinates such that the Z probe is above the screws, and then add them to the config file. For example, it might look like:

[screws_tilt_adjust]
#screw1:
#   The (X, Y) coordinate of the first bed leveling screw. This is a
#   position to command the nozzle to so that the probe is directly
#   above the bed screw (or as close as possible while still being
#   above the bed). This is the base screw used in calculations. This
#   parameter must be provided.
#screw1_name:
#   An arbitrary name for the given screw. This name is displayed when
#   the helper script runs. The default is to use a name based upon
#   the screw XY location.
#screw2:
#screw2_name:
#...
#   Additional bed leveling screws. At least two screws must be
#   defined.
#speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
#horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
#screw_thread: CW-M3
#   The type of screw used for bed leveling, M3, M4, or M5, and the
#   rotation direction of the knob that is used to level the bed.
#   Accepted values: CW-M3, CCW-M3, CW-M4, CCW-M4, CW-M5, CCW-M5.
#   Default value is CW-M3 which most printers use. A clockwise
#   rotation of the knob decreases the gap between the nozzle and the
#   bed. Conversely, a counter-clockwise rotation increases the gap.
#
#   if probe is offset by 50mm
#   x: 30 + 50 = 80
#   frame will now allow to move further than 235
#   First screw is set to one that is hard to reach (it have fixed position)


screw1: 69, 193
screw1_name: Rear Left screw
screw2: 230, 193
screw2_name: Rear Right screw
screw3: 230, 23
screw3_name: Front Right screw
screw4: 69, 23
screw4_name: Front Left screw

horizontal_move_z: 10.
speed: 50.
screw_thread: CW-M4


[virtual_sdcard]
path: ~/printer_data/gcodes/

[pause_resume]

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE

[display_status]

# suppress M86 error
[exclude_object]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*#
#*# [bed_mesh 6x6 Lagrange v2]
#*# version = 1
#*# points =
#*# 	  0.141250, 0.130000, 0.131250, 0.143750, 0.197500, 0.161250
#*# 	  0.082500, 0.051250, 0.042500, 0.077500, 0.112500, 0.082500
#*# 	  0.047500, 0.012500, -0.011250, -0.005000, 0.057500, 0.031250
#*# 	  0.046250, 0.003750, -0.020000, -0.012500, 0.003750, 0.013750
#*# 	  0.091250, 0.035000, 0.011250, 0.030000, 0.070000, 0.013750
#*# 	  0.200000, 0.115000, 0.068750, 0.082500, 0.103750, 0.073750
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 15.0
#*# max_x = 185.0
#*# min_y = 15.0
#*# max_y = 185.0
